<!-- app/views/availabilities/new.html.erb -->
<h1>Set Availability</h1>

<%= link_to 'Logout', destroy_doctor_session_path, method: :delete, class: 'btn btn-danger' %>

<%= form_with(model: @availability, url: availabilities_path, method: :post) do |form| %>
  <div>
    <%= form.label :day_of_week %>
    <%= form.date_field :day_of_week %>
  </div>
  <br>
  <div>
    <%= form.label :start_time %>
    <%= form.time_field :start_time %>
  </div>
  <br>
  <div>
    <%= form.label :end_time %>
    <%= form.time_field :end_time %>
  </div>
  <br>
  <%= form.submit 'Set Availability' %>
<% end %>
